doctype
head
    title  Gulp with Foundation and SASS
    link(href='css/main.css', rel='stylesheet', type='text/css')
    script(src='js/app.js')
body
    #drawing_container
      h1
        |   hello l Javascript


